<div>
  <div>
    <h1>
      Welcome to Brush Findr
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Looking for brushes?
    </h2>

    <form action="/insert_artstyle" method="post">
      <div>
        <label for="name_box">
          What artstyle are you creating?
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create artstyle
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_artstyles.each do |an_artstyle| %>
      <tr>
        <td>
          <%= an_artstyle.id %>
        </td>

        <td>
          <%= an_artstyle.name %>
        </td>

        <td>
          <%= time_ago_in_words(an_artstyle.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_artstyle.updated_at) %> ago
        </td>

        <td>
          <a href="/artstyles/<%= an_artstyle.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
